{% extends "layout.html.twig" %} {% block title %}Home{% endblock %} {% block content %}
<div class="container">
    <section class="row">
        {% for article in articles %}
        <a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">
            <article class="col-xs-12 col-sm-6 col-md-4">
                <div class="article thumbnail">
                    <img class="img-rounded" style="max-height:15em" src="{{article.img}}" />
                    <h2>{{ article.title }}</h2>
                </div>
            </article>
        </a>
        {% endfor %}
    </section>
</div>
{% endblock %}