.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

body {
    padding-top: 75px;
    font-size: 15px;
    text-align: justify;
}

.articleTitle:hover,
.articleTitle:focus {
    text-decoration: none;
}

.article {
    height: 25em;
    background-color: #F0F0F0;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

